.product-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 460px;
    text-align: center;
    position: relative;
    border: 2px solid; /*сплошная линия*/
    transition: box-shadow 0.3s ease;
}
.product-card:hover {
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.2);
}
.rating .star {
    font-size: 18px;
    color: #9c9898;
}

.rating .star.filled {
    color: gold;
}

.dp {
    background-color: #6086a5;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.dp:hover {
    background-color: #8964e8;
}
.product-title, .product-price, .product-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-image {
    width: 300px;
    height: 200px;
    object-fit: contain;
}
.favorite-button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.product-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
    padding: 20px;
    background-color: #987fce;
}


